.container {
  /* outline: 2px solid red; */
  width: 900px;
  height: 600px;
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img {
  /* outline: 2px solid red; */
  width: 500px;
  height: 500px;
  border-radius: 25px;
  border: 5px solid #f0860c;
}

.desContainer {
  /* outline: 2px solid red; */
  width: 380px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0.03) 84%
  );
  border-radius: 20px;
}

.desc {
  /* outline: 2px solid red; */
  width: 350px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title,
.body,
.techUsed,
.contact,
.moreWorks {
  color: #fff;
}

.body,
.techUsed,
.contact {
  text-align: left;
  color: #ccc;
}

.body {
  color: #ccc;
}

.moreWorks,
.contact {
  /* outline: 2px solid red; */
  width: 100%;
  text-align: left;
  color: #ccc;
}

.link {
  color: #f0860c;
  text-decoration: none;

  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
}
